$text-color: #e0ecf9;
$container-bg: rgba(90,100,120,.3);

$main-sky-color: #a0ccf9;
$rain-sky-color: #568;
$snow-sky-color: #89b;
$sun-yellow: #fffc60;

/*
$thunder-bg-color: darken(desaturate($background-color,80%),50%);
$thunder-mid-color: darken(desaturate($background-color,82%),48%);
$lightning-bg-grad: radial-gradient(lighten($thunder-mid-color,20%), rgba($thunder-mid-color,0) 45%);
$thunder-foreground-color: darken(desaturate($background-color,85%),45%);
*/
