@import '_colors';

.sky.drizzle3xx{
  background-color: $rain-sky-color;
  height: 100%;

  .rain-drop {
    background: linear-gradient(0deg, rgba(255,255,255,.6), rgba(102,102,138,0));
    width: .1rem;
    height: 2.7rem;
    border-radius: .5rem;
    position: absolute;
    animation: drizzle-fall 3s linear infinite;
  }
}

@keyframes drizzle-fall {
  to {transform: translateY(145vh)}
}
