@import '_colors';
@import '_rain';

.hail {
  $hail-size: .5rem;
  $fall-dur: 1.5s;
  $anim-dur: $fall-dur;
  $adjust: .1s;
  background-color: $snow-sky-color;

  .rain-drop {
    position: absolute;
    border-radius: 50%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .foreground {
    .rain-drop {
      background-color: rgba(255,255,255,1);
      height: $hail-size; width: $hail-size;
      animation-duration: $anim-dur;
    }
    .rain-drop:nth-of-type(2n){
      animation-duration: $anim-dur + ($adjust * .25);
    }
    .rain-drop:nth-of-type(3n+1){
      animation-duration: $anim-dur + ($adjust * .5);
    }
  }

  .midground {
    $anim-dur: $fall-dur + $adjust;
    $adjust: .2s;
    .rain-drop {
      background-color: rgba(255,255,255,.8);
      height: $hail-size + .05rem; width: $hail-size + .05rem;
      animation-duration: $anim-dur;
    }
    .rain-drop:nth-of-type(2n){
      animation-duration: $anim-dur + ($adjust * .25);
    }
    .rain-drop:nth-of-type(3n+1){
      animation-duration: $anim-dur + ($adjust * .5);
    }
  }

  .background {
    $anim-dur: $fall-dur + $adjust;
    $adjust: .4s;
    .rain-drop {
      background-color: rgba(255,255,255,.65);
      height: $hail-size + .1rem; width: $hail-size + .1rem;
      animation-duration: $anim-dur;
    }
    .rain-drop:nth-of-type(2n){
      animation-duration: $anim-dur + ($adjust * .25);
    }
    .rain-drop:nth-of-type(3n+1){
      animation-duration: $anim-dur + ($adjust * .5);
    }
  }
}
