@import '_colors';
@import '_rain';

.hurricane {
  @extend .wet;

  .rain-drop {
    animation-iteration-count: infinite, infinite;
    animation-timing-function: linear, linear;
  }

  .foreground {
    //border: 1px solid teal;
    //transform-origin: top right;
    transform: rotate(-35deg);
    top: -15vh;

    .rain-drop {
      animation-duration: 1s, 4s;
    }
  }

  .midground {
    //transform-origin: top right;
    transform: rotate(-27deg);
    top: -5vh;

    .rain-drop {
      animation-duration: 1.2s, 4s;
    }
  }

  .background {
    //border: 1px solid red;
    //transform-origin: top left;
    transform: rotate(12deg);

    .rain-drop {
      animation-duration: 1.4s, 4s;
    }
  }
}

@keyframes wind-1 {
  to {margin-left: 30vw;}
}

@keyframes wind-2 {
  to {margin-left: -20vw;}
}
