@import '_colors';

$fall-dur: 1s;
$fade-dur: .33s;

.wet {
  background-color: $rain-sky-color;

  .rain-drop {
    border-radius: .75rem;
    position: absolute;
  }

  .foreground .rain-drop {
    background: linear-gradient(0deg, rgba(255,255,255,.6), rgba(102,102,138,0));
    width: .15rem;
    height: 3rem;
  }

  .midground .rain-drop {
    background: linear-gradient(0deg, rgba(220,220,230,.6), rgba(102,102,138,0));
    width: .12rem;
    height: 2.7rem;
  }

  .background .rain-drop {
    background: linear-gradient(0deg, rgba(200,200,210,.6), rgba(102,102,138,0));
    width: .1rem;
    height: 2.5rem;
  }
}

.rain {
  @extend .wet;

  .rain-drop {
    animation-timing-function: linear;
    animation-iteration-count: infinite, 1;
  }

  .foreground .rain-drop {
    animation-duration: $fall-dur, $fade-dur;
  }

  .midground .rain-drop {
    animation-duration: $fall-dur + .2s, $fade-dur;
  }

  .background .rain-drop {
    animation-duration: $fall-dur + .4s, $fade-dur;
  }
}

@keyframes rain-fall-1 {
  100% {
    transform: translateY(135vh);
  }
}

@keyframes rain-fall-2 {
  100% {
    transform: translateY(150vh);
  }
}

@keyframes rain-fall-3 {
  100% {
    transform: translateY(120vh);
  }
}
