@import '_colors';

$anim-dur: 13s;

.sky.snow6xx{
  background-color: $snow-sky-color;
  height: 100%;

  .snow-flake {
    position: absolute;
    background: #fff;
    animation-name: snow-fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .foreground .snow-flake {
    height: .25rem;
    width: .25rem;
    box-shadow: 0 0 .25rem .1rem #fff;
    animation-duration: $anim-dur;
  }

  .midground .snow-flake {
    height: .2rem;
    width: .2rem;
    opacity: .6;
    box-shadow: 0 0 .2rem .1rem #fff;
    animation-duration: $anim-dur - .5s;
  }

  .background .snow-flake {
    height: .15rem;
    width: .15rem;
    opacity: .45;
    box-shadow: 0 0 .15rem .1rem #fff;
    animation-duration: $anim-dur - .5s;
  }
}

@keyframes snow-fall {
  to {
    margin-top: 110vh;
    /*transform: translateX(-7vw);*/
  }
}

@keyframes snow-drift-1 {
  100%{transform: translateX(3vw)}
}
