@import '_colors';

$layer-ht: 20vh;

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, html, .tornado {
  overflow: hidden;
}

.tornado {
  height: 100%;
  width: 100%;
  background-color: #bbc;
}

.tornado-container {
  position: absolute;
  height: 100%;
}

.layer {
  position: absolute;
  height: $layer-ht;
  //background-color: #99b;
  animation-name: tornado-walk;
  animation-duration: 120s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.layer-1 {
  bottom: 0;
  width: 3rem;
  left: 20rem;
  animation-delay: .74s;
}

.layer-2 {
  bottom: $layer-ht;
  width: 5rem;
  left: 20rem;
  animation-delay: .48s;
}

.layer-3 {
  bottom: $layer-ht * 2;
  width: 7rem;
  left: 20rem;
  animation-delay: .23s;
}

.layer-4 {
  bottom: $layer-ht * 3;
  width: 8.5rem;
  left: 20rem;
}

.layer-5 {
  bottom: $layer-ht * 4;
  width: 9.25rem;
  left: 20rem;
  animation-delay: .25s;
  //opacity: 0;
}

.layer-6 {
  visibility: hidden;
  height: 0;
  bottom: $layer-ht * 5;
}

.particle {
  background-color: #66625f;
  position: absolute;
  //border-radius: 50%;
  opacity: 0;
  transition: opacity 8.5s ease-in;
  animation-name: tornado-whirl;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.grey {
  background-color: #664;
}

@keyframes tornado-walk {
  0% {margin-left: 0;}
  10% {margin-left: 18vw;}
  20% {margin-left: 10vw;}
  30% {margin-left: 26vw;}
  40% {margin-left: 20vw;}
  50% {margin-left: 32vw;}
  60% {margin-left: 18vw;}
  70% {margin-left: 24vw;}
  80% {margin-left: 9vw;}
  90% {margin-left: 12vw;}
  100% {margin-left: 0;}
}

@keyframes tornado-whirl {
  100% {transform: rotateY(360deg)}
}

/*@keyframes tornado-wiggle-1 {
  50% {transform: translateX(1.5rem)}
}

@keyframes tornado-wiggle-2 {
  50% {transform: translateX(1.85rem)}
}

@keyframes tornado-wiggle-3 {
  50% {transform: translateX(2rem)}
}

@keyframes tornado-wiggle-4 {
  50% {transform: translateX(2.2rem)}
}

@keyframes tornado-wiggle-5 {
  50% {transform: translateX(2.45rem)}
}*/
