/*-_-*-_-*-_-*-_-*-_-*-_-*-_-*-_-*
  color variables
-_-*-_-*-_-*-_-*-_-*-_-*-_-*-_-*-_-*/

$container-bg: rgba(90,100,120,.3);
$background-color: rgba(170,200,255,1);
$main-color: #e0ecf9;
$sun-yellow: #fffc60;
$thunder-bg-color: darken(desaturate($background-color,80%),50%);;
$thunder-mid-color: darken(desaturate($background-color,82%),48%);
$lightning-bg-grad: radial-gradient(lighten($thunder-mid-color,20%), rgba($thunder-mid-color,0) 45%);
$thunder-foreground-color: darken(desaturate($background-color,85%),45%);

$before-r-offset: 4vw;
$after-l-offset: 4vw;
$puff-wd: 7vw;
$puff-initial-offset: 1.5vw;
$puff-offset: 12.75vw;
$puff-vert-offset: 2.25rem;

@mixin rounded-corners{
  border-radius: 1rem;
}

@keyframes cloud-walk {
  to {transform: translateX(100vw);}
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  color: $main-color;
//  background: $background-color;
}

h1,h2,h3,h4,h5 {
  margin: 0 0 1rem 0;
}

.flex-parent {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.flex-container {
  flex: 1 0 auto;
  background: darken($container-bg,15%);
//  border: .1rem solid lighten(yellow, 35%);
  @include rounded-corners;
  padding: .25rem;
  box-sizing: border-box;

  .content-container {
    border: .1rem solid lighten(darkKhaki,25%);
    padding: 2rem;
    @include rounded-corners;
    background: $container-bg;
  }
}

.switch-container {
  position: relative;
}

.switch {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width:480px) {
  .flex-container {
    width: 100%;
  }
}

@media screen and (min-width:481px) {
  .flex-container {
    width: 30rem;
  }
}

/*-_-*-_-*-_-*-_-*-_-*-_-*-_-
  weather-specific styles
-_-*-_-*-_-*-_-*-_-*-_-*-_-*/

.sky-feature{
  position: absolute;
  top: 0;
  right: 0;
}

.sky{
  background: $background-color;
  position: absolute;
  top: 0; left: 0;
  height: 120%;
  width: 100%;
  overflow: hidden;
  z-index: -1;

      .foreground {
        position: absolute;
        top: 0;
        height: 4rem;
        width: 100%;
      }

      .midground {
        background: inherit;
        position: relative;
//        top: 2.5rem;
//        right: .5vw;
        height: 5.5rem;
      }
}
