html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.sky.clouds80x {
  height: 100%;
  position: relative;
  background: #aac8ff;
}

.sky.clouds80x .sun {
  position: absolute;
  top: 3rem;
  right: 10%;
  border-radius: 50%;
  border: 0.25rem solid #aac8ff;
  height: 6rem;
  width: 6rem;
  background: #fffd86;
  box-shadow: 0 0 1rem 0.35rem #fffc60;
}
.sky.clouds80x .cloud1,
.sky.clouds80x .cloud2,
.sky.clouds80x .cloud3 {
  font-family: serif;
  color: blue;
  text-align: center;
  line-height: 1.8rem;
  opacity: .9;
  position: absolute;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 .5rem .25rem white;
  border: none;
}
.sky.clouds80x .cloud1:before, .sky.clouds80x .cloud1:after,
.sky.clouds80x .cloud2:before, .sky.clouds80x .cloud2:after,
.sky.clouds80x .cloud3:before, .sky.clouds80x .cloud3:after {
  content: '';
  position: absolute;
  background: inherit;
  opacity: inherit;
  border-radius: 50%;
  background-color: inherit;
  box-shadow: inherit;
  border: inherit;
}
.sky.clouds80x .cloud1 {
  top: 6.75rem;
  left: 15rem;
  height: 2.75rem;
  width: 7rem;
  animation: cloud-walk 300s linear infinite;
}
.sky.clouds80x .cloud1:before {
  top: -2rem;
  left: .6rem;
  height: 4.5rem;
  width: 4.5rem;
}
.sky.clouds80x .cloud1:after {
  top: -1rem;
  right: .65rem;
  height: 2rem;
  width: 2rem;
}
.sky.clouds80x .cloud2 {
  top: 8.5rem;
  left: 7.5rem;
  height: 2.35rem;
  width: 11rem;
  animation: cloud-walk 180s linear infinite;
}
.sky.clouds80x .cloud2:before {
  top: -3.15rem;
  left: 1.4rem;
  height: 5.5rem;
  width: 6rem;
}
.sky.clouds80x .cloud2:after {
  top: -1.5rem;
  right: 2rem;
  height: 2.5rem;
  width: 2.5rem;
}
.sky.clouds80x .cloud3 {
  top: 2.75rem;
  left: 4.25rem;
  height: 3rem;
  width: 5rem;
  animation: cloud-walk 240s linear infinite;
}
.sky.clouds80x .cloud3:before {
  top: -1rem;
  left: .5rem;
  height: 3rem;
  width: 3rem;
}
.sky.clouds80x .cloud3:after {
  top: -.75rem;
  right: .65rem;
  height: 1rem;
  width: 1rem;
}

@keyframes cloud-walk {
  to {
    transform: translateX(100vw);
  }
}
