.sky.drizzle{
  background-color: #568;
  height: 100%;


.sky.rain5xx .rain-drop {
  background: linear-gradient(0deg, rgba(255,255,255,.6), rgba(102,102,138,0));
  width: .1rem;
  height: 2.7rem;
  border-radius: .5rem;
  position: absolute;
  animation: rain-fall 3s linear infinite;
}

@keyframes rain-fall {
  to {transform: translateY(145vh)}
}
